@charset "UTF-8";
/* ＊ */
/* 共通項目
＊ */
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
.container {
  width: 1000px;
  background-color: #fff;
  margin: 0 auto;
  font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro",
    "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
  color: #333333;
}
@media screen and (max-width: 680px) {
  .container {
    width: 100%;
  }
}
/* 英語の表題 */
h2 {
  color: #5bd1d7;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 15px;
  font-family: "Zen Maru Gothic", serif;
  font-weight: bold;
}

/* 日本語の表題 */
h3 {
  text-align: center;
}
.title {
  font-size: 4rem;
  margin-bottom: 100px;
  border-bottom: 3px solid #f0bf4c;
  display: inline-block;
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 680px) {
  .title {
    font-size: 3rem;
  }
}
/* リンクのテキスト */
a {
  text-decoration: none;
  color: #333;
  font-family: "Zen Maru Gothic", sans-serif;
}

/* コラムとご連絡の日付 */
.date {
  font-size: 1.4rem;
  color: 6666;
}
.link {
  margin: 160px 0 100px 20px;
  font-size: 1.6rem;
  color: #808080;
}
@media screen and (max-width: 680px) {
  .link {
    margin: 140px 0 100px 5px;
    font-size: 1.25rem;
  }
}
.link a {
  margin: 0 20px;
  font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro",
    "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
  color: #333333;
  cursor: pointer;
}
@media screen and (max-width: 680px) {
  .link a {
    margin: 0 4px;
  }
}
.link a:hover {
  color: #5bd1d7;
}

/* ＊ */
/* ヘッダー */
/* ＊ */
header {
  width: 1000px;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #fff;
}
@media screen and (max-width: 680px) {
  header {
    width: 100%;
    align-items: center;
    height: auto;
  }
}
/* ヘッダーのロゴ */
header h1 {
  width: 280px;
  margin: 0 auto;
  padding: 15px;
}
@media screen and (max-width: 680px) {
  header h1 {
    width: 186px;
    padding: 10px 0;
  }
}
/* ヘッダーのナビゲーション */
header .nav {
  background-color: #04bcaa;
}
@media screen and (max-width: 680px) {
  header .nav {
    width: 100%;
  }
}
header .nav .navList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .nav .navList .icon-scrap {
  display: block;
  background: url(../images/scrap.png) no-repeat 70px center;
}
header .nav .navList .icon-stethoscope {
  display: block;
  background: url(../images/stethoscope.png) no-repeat 50px center;
}
header .nav .navList .icon-information {
  display: block;
  background: url(../images/information.png) no-repeat 30px center;
}
header .nav .navList .icon-question {
  display: block;
  background: url(../images/question.png) no-repeat 30px center;
}
@media screen and (max-width: 680px) {
  header .nav .navList .icon-scrap,
  header .nav .navList .icon-stethoscope,
  header .nav .navList .icon-information,
  header .nav .navList .icon-question {
    background: none;
  }
}
header .nav .navList .item {
  text-align: center;
  width: 25%;
  cursor: pointer;
  padding: 15px 0 15px 40px;
}
@media screen and (max-width: 680px) {
  header .nav .navList .item {
    padding: 8px 0px;
  }
}
@media screen and (max-width: 680px) {
  header .nav .navList .item:nth-of-type(1) {
    padding: 20px 0px;
  }
}
@media screen and (max-width: 680px) {
  header .nav .navList .item:nth-of-type(3) {
    line-height: 20px;
  }
}
@media screen and (max-width: 680px) {
  header .nav .navList .item:nth-of-type(2),
  header .nav .navList .item:nth-of-type(4) {
    line-height: 17px;
  }
}
header .nav .navList li + li {
  border-left: 1px solid #fff;
}
header .nav .navList a {
  color: #fff;
  font-size: 2rem;
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: bold;
  text-decoration: none;
}
@media screen and (max-width: 680px) {
  header .nav .navList a {
    font-size: 1.6rem;
    text-align: center;
  }
}
/* ヘッダーナビゲーションのホバー */
header .nav .navList .item:hover {
  background-color: #f0bf4c;
}

/* ＊ */
/* フッター */
/* ＊ */
footer h4 {
  margin: 0 auto;
  width: 170px;
  padding-bottom: 30px;
}
/* フッターのサイトマップ */
footer .sitemap {
  display: flex;
  background-color: rgba(4, 188, 170, 0.3);
  justify-content: center;
  margin-bottom: 25px;
  padding: 10px;
}
@media screen and (max-width: 680px) {
  footer .sitemap {
    flex-wrap: wrap;
    row-gap: 15px;
    padding: 20px 10px;
    margin-bottom: 35px;
  }
}
footer .sitemap li {
  font-size: 1.6rem;
  font-family: "Zen Maru Gothic", serif;
  padding: 0 15px;
}
@media screen and (max-width: 680px) {
  footer .sitemap li {
    font-size: 1.4rem;
    padding: 0 2px;
  }
}
@media screen and (max-width: 680px) {
  footer .sitemap li a {
    letter-spacing: 1px;
  }
}
footer .sitemap li + li {
  border-left: 1px solid #333;
}
footer .sitemap a:hover {
  text-decoration: underline;
  color: #333;
}
footer .copyright {
  text-align: center;
  color: #808080;
  margin-bottom: 105px;
}
@media screen and (max-width: 680px) {
  footer .copyright {
    margin-bottom: 100px;
  }
}
/* フッターの固定表示（Tel／ご予約お問い合わせ/topボタン） */
footer .footer-fixed {
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 1000px;
  pointer-events: none;
}
@media screen and (max-width: 680px) {
  footer .footer-fixed {
    width: 100%;
  }
}
footer .footer-fixed ul {
  display: flex;
  background-color: #04bcaa;
  pointer-events: auto;
}
footer .footer-fixed .pagetop {
  display: flex;
  justify-content: space-between;
}
.pagetop a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  background: #5bd1d7;
  border-radius: 50%;
  pointer-events: auto;
}
.pagetop a::before {
  position: absolute;
  content: "";
  border-style: solid;
  border-width: 13px 0px 13px 20px;
  border-color: transparent transparent transparent #fff;
  transform: rotate(-90deg);
  top: 10px;
  left: 15px;
  display: block;
}
footer .footer-fixed .pagetop:hover {
  transform: translateY(-5px);
}
footer .footer-fixed .footer-contact-btn {
  justify-content: space-around;
  padding: 20px 0;
}
@media screen and (max-width: 680px) {
  footer .footer-contact-btn ul {
    padding: 10px 0;
    width: 100%;
  }
}
footer .footer-contact-btn li {
  border-radius: 5px;
  font-size: 1.8rem;
  background-color: #fff;
  padding: 15px 70px 15px 110px;
  margin: 0 60px;
}
@media screen and (max-width: 680px) {
  footer .footer-contact-btn li {
    font-size: 1.6rem;
    padding: 17px 5px 17px 30px;
    margin: 0 5px;
  }
}
footer .footer-contact-btn .tel {
  padding: 15px 100px 15px 130px;
}
@media screen and (max-width: 680px) {
  footer .footer-contact-btn .tel {
    padding: 17px 10px 17px 30px;
  }
}
footer .footer-contact-btn a {
  color: #04bcaa;
  font-weight: bold;
}
footer .footer-contact-btn .tel a {
  margin: 0 auto;
  font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro",
    "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
}
footer .tel {
  display: block;
  background: url(../images/tel.png) no-repeat 90px center;
}
@media screen and (max-width: 680px) {
  footer .tel {
    background: url(../images/tel.png) no-repeat 8px center;
    background-size: 21px;
  }
}
footer .contact {
  display: block;
  background: url(../images/contact.png) no-repeat 60px center;
}
@media screen and (max-width: 680px) {
  footer .contact {
    background: url(../images/contact.png) no-repeat 4px center;
    background-size: 24px;
  }
}
/* フッター固定表示のホバー */
footer .footer-fixed .footer-contact-btn li:hover {
  transform: translateY(-5px);
}

/* ＊ */
/* 画像の表示切り替え */
/* ＊ */
.pc {
  display: block;
}
@media screen and (max-width: 680px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}
@media screen and (max-width: 680px) {
  .sp {
    display: block;
  }
}

/* * {
  outline: 1px solid blue;
} */
