@charset "UTF-8";
.top {
  margin-top: 145px;
  margin-bottom: 140px;
  position: relative;
}
@media screen and (max-width: 680px) {
  .top {
    margin-top: 115px;
  }
}
.top-photo {
  width: 100%;
}
.top-theme {
  position: absolute;
  top: 30px;
  right: 0;
}
@media screen and (max-width: 680px) {
  .main-sp {
    width: 100%;
    margin-bottom: 150px;
  }
}
@media screen and (max-width: 680px) {
  .top-theme {
    width: 195px;
  }
}
/* ＊ */
/* 院長挨拶 */
/* ＊ */
.greeting ul {
  display: flex;
  padding: 0 60px;
  margin-bottom: 100px;
}
@media screen and (max-width: 680px) {
  .greeting ul {
    display: block;
    padding: 0 20px;
    margin-bottom: 150px;
  }
}
.greeting img {
  box-shadow: 50px 80px 0 rgba(91, 209, 215, 0.3);
  border-radius: 5px;
  position: relative;
}
@media screen and (max-width: 680px) {
  .greeting li {
    padding: 0 20px;
    margin-bottom: 150px;
  }
}
.greeting .greeting-text {
  padding: 5px 0px 5px 15px;
  border-left: solid 10px #5bd1d7;
  margin-left: 100px;
}
@media screen and (max-width: 680px) {
  .greeting .greeting-text {
    margin-bottom: 100px;
    margin-left: 0;
  }
}
.greeting p {
  font-size: 1.6rem;
  line-height: 1.9;
}
.greeting .dr-name {
  font-size: 2rem;
  font-family: "Zen Maru Gothic", sans-serif;
  padding-top: 30px;
  padding-left: 80px;
  position: absolute;
}
.greeting .dr-name span {
  font-size: 1.6rem;
  margin-right: 20px;
}

/* ＊ */
/* コラム */
/* ＊ */
.column {
  width: 100%;
}
.column ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
@media screen and (max-width: 680px) {
  .column ul {
    display: block;
    padding: 0 40px;
  }
}
.column img {
  margin-bottom: 10px;
}
@media screen and (max-width: 680px) {
  .column img {
    width: 100%;
  }
}
.column .column-theme {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}
@media screen and (max-width: 680px) {
  .column .date {
    margin-bottom: 100px;
  }
}
.column .column-theme-16 {
  font-size: 1.6rem;
}
/* コラム一覧 */
.column .column-list {
  text-align: right;
  font-size: 1.6rem;
  padding-right: 60px;
  margin-bottom: 100px;
  cursor: pointer;
}
@media screen and (max-width: 680px) {
  .column .column-list {
    margin-bottom: 150px;
    padding-right: 40px;
  }
}
.column .column-list span {
  color: #5bd1d7;
  margin-left: 20px;
}
/* コラムのホバー */
.column a:hover {
  color: #f7931e;
}
/* コラム一覧のホバー */
.column .column-list a:hover {
  color: #f7931e;
}

/* ＊ */
/* ご連絡 */
/* ＊ */
.news ul {
  display: flex;
  padding: 0 60px;
  margin-bottom: 100px;
  position: relative;
}
@media screen and (max-width: 680px) {
  .news ul {
    display: block;
    padding: 0 20px;
    margin-bottom: 150px;
  }
}
@media screen and (max-width: 680px) {
  .news img {
    width: 100%;
    margin-bottom: 60px;
  }
}
.news .news-text {
  padding-left: 5px;
  border-left: solid 3px #5bd1d7;
  margin-left: 50px;
  margin-bottom: 50px;
  font-size: 1.6rem;
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 680px) {
  .news .news-text {
    margin-left: 0;
    line-height: 1.5;
  }
}
.news .date {
  margin-right: 45px;
}
.news .news-list {
  position: absolute;
  right: 0;
  font-size: 1.6rem;
  padding-right: 60px;
}
@media screen and (max-width: 680px) {
  .news .news-list {
    margin-bottom: 150px;
    padding-right: 20px;
  }
}
.news .news-list span {
  color: #5bd1d7;
  margin-left: 20px;
}
/* ご連絡のホバー */
.news .news-text:hover {
  color: #f7931e;
  /* transform: scale(1.1); */
}
/* ご連絡一覧のホバー */
.news .news-list a:hover {
  color: #f7931e;
}

/* ＊ */
/* 診療時間 */
/* ＊ */
.medical-hours {
  padding: 0 60px;
}
@media screen and (max-width: 680px) {
  .medical-hours {
    padding: 0 20px;
  }
}
.medical-hours ul {
  display: flex;
  margin-bottom: 150px;
}
@media screen and (max-width: 680px) {
  .medical-hours ul {
    display: block;
    margin-bottom: 60px;
  }
}
/* 診療時間表 */
.biz-hour th,
.biz-hour td {
  padding: 15px;
  text-align: center;
  border: 1px solid #04bcaa;
  font-size: 2rem;
  font-family: "Zen Maru Gothic", sans-serif;
}
@media screen and (max-width: 680px) {
  .biz-hour th,
  .biz-hour td {
    padding: 10px;
  }
}
.biz-hour th {
  background-color: #04bcaa;
  color: #fff;
  font-weight: bold;
  font-size: 2.4rem;
}
@media screen and (max-width: 680px) {
  .biz-hour th {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 680px) {
  .biz-hour td {
    font-size: 1.4rem;
  }
}
.biz-hour th:nth-child(1) {
  border-right: 1px solid #fff;
}
.biz-hour td:nth-child(2),
td:nth-child(3),
td:nth-child(4),
td:nth-child(5),
td:nth-child(6),
td:nth-child(7) {
  border-right: none;
  border-left: none;
}
td:nth-child(8) {
  border-left: none;
}
/* 診療時間に関するテキスト */
.medical-hours .medical-hours-text {
  margin: 65px 0 0 35px;
}
@media screen and (max-width: 680px) {
  .medical-hours .medical-hours-text {
    margin: 60px 0 100px 20px;
  }
}
.medical-hours p {
  font-size: 1.6rem;
  line-height: 1.8;
}
.medical-hours p:nth-child(2) {
  color: #f7931e;
}
.medical-hours p:nth-child(3) {
  font-size: 1.3rem;
  line-height: 1.5;
  letter-spacing: 0.05px;
}
/* 診療時間に関するテキスト */
.medical-hours .medical-hours-text {
  margin: 65px 0 0 35px;
}
@media screen and (max-width: 680px) {
  .medical-hours .medical-hours-text {
    margin: 20px 0 100px 20px;
  }
}
.medical-hours p {
  font-size: 1.6rem;
  line-height: 1.8;
}
.medical-hours p:nth-child(2) {
  color: #f7931e;
}
.medical-hours p:nth-child(3) {
  font-size: 1.3rem;
  line-height: 1.5;
  letter-spacing: 0.05px;
}

/* ＊ */
/* バナー */
/* ＊ */
.banner ul {
  display: flex;
  justify-content: space-around;
  margin-bottom: 150px;
}
@media screen and (max-width: 680px) {
  .banner ul {
    display: block;
    padding: 0 40px;
    margin: 0;
  }
}
.banner ul img {
  width: 400px;
}
@media screen and (max-width: 680px) {
  .banner ul img {
    padding-bottom: 100px;
    margin: 0 auto;
    width: 100%;
  }
}
