@charset "UTF-8";
/* ＊ */
/* 当院についてトップ */
/* ＊ */
.clinic .clinic-top {
  display: flex;
  padding: 0 60px;
  margin-bottom: 100px;
}
@media screen and (max-width: 680px) {
  .clinic {
    padding: 0 20px;
  }
}
@media screen and (max-width: 680px) {
  .clinic .clinic-top {
    display: block;
    padding: 0;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 680px) {
  .clinic-top li {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 680px) {
  .clinic-top img {
    width: 100%;
  }
}
.clinic-top .clinic-top-text p {
  padding: 5px 0px 5px 15px;
  border-left: solid 10px #5bd1d7;
  margin-left: 90px;
  font-size: 1.6rem;
  line-height: 2;
  letter-spacing: -0.5px;
}
@media screen and (max-width: 680px) {
  .clinic-top .clinic-top-text p {
    margin-left: 0;
  }
}
@media screen and (max-width: 680px) {
  .link {
    left: 0;
  }
}
/* ＊ */
/* 当院についてのセクション毎の説明 */
/* ＊ */
.clinic .clinic-container {
  display: flex;
  margin-bottom: 30px;
}
@media screen and (max-width: 680px) {
  .clinic .clinic-container {
    display: block;
    margin-bottom: 30px;
  }
}
.clinic-list {
  border: solid 3px #04bcaa;
  border-radius: 10px;
  margin: 0 20px;
  width: 300px;
}
@media screen and (max-width: 680px) {
  .clinic-list {
    margin: 0;
    margin-bottom: 60px;
    width: calc(100% - 4px);
  }
}
.clinic-list .clinic-list-title {
  font-size: 2rem;
  background: #04bcaa;
  padding: 5px 0 5px 15px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-family: "Zen Maru Gothic", sans-serif;
}
.clinic-list p {
  font-size: 1.6rem;
  padding: 10px;
  line-height: 1.8;
  letter-spacing: -1.5px;
}
.clinic-list .clinic-list-title .clinic-scrap,
.clinic-list .clinic-list-title .clinic-stethoscope,
.clinic-list .clinic-list-title .clinic-house,
.clinic-list .clinic-list-title .clinic-family,
.clinic-list .clinic-list-title .clinic-heart,
.clinic-list .clinic-list-title .clinic-dr {
  display: block;
  padding: 12px;
}
.clinic-list .clinic-list-title .clinic-scrap {
  background: url(../images/clinic-scrap.png) no-repeat 5px center;
}
.clinic-list .clinic-list-title .clinic-stethoscope {
  background: url(../images/clinic-stethoscope.png) no-repeat 0px center;
  margin-right: -15px;
}
.clinic-list .clinic-list-title .clinic-house {
  background: url(../images/clinic-house.png) no-repeat 5px center;
}
.clinic-list .clinic-list-title .clinic-family {
  background: url(../images/clinic-family.png) no-repeat 5px center;
  margin-right: -10px;
}
.clinic-list .clinic-list-title .clinic-heart {
  background: url(../images/clinic-heart.png) no-repeat 5px center;
  margin-right: -15px;
}
.clinic-list .clinic-list-title .clinic-dr {
  background: url(../images/clinic-dr.png) no-repeat 5px center;
  margin-right: -20px;
}
/* ＊ */
/* 当院についてー理念７つ */
/* ＊ */
.clinic-philosophy {
  border: solid 3px #04bcaa;
  border-radius: 10px;
  margin: 0 20px 100px 20px;
}
@media screen and (max-width: 680px) {
  .clinic-philosophy {
    margin: 0;
    margin-bottom: 100px;
  }
}
.clinic-philosophy p {
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: -1.3px;
}
.clinic-philosophy .cp-top-title {
  font-size: 2rem;
  background: #04bcaa;
  padding: 5px 20px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-family: "Zen Maru Gothic", sans-serif;
}
.clinic-philosophy .cp-top-title .clinic-icon {
  display: block;
  padding: 12px;
  background: url(../images/clinic.png) no-repeat 330px center;
}
@media screen and (max-width: 680px) {
  .clinic-philosophy .cp-top-title .clinic-icon {
    background: url(../images/clinic.png) no-repeat 10px center;
  }
}
.clinic-philosophy .cp-top-text {
  padding: 35px 20px;
  line-height: 1.8;
}
@media screen and (max-width: 680px) {
  .clinic-philosophy .cp-top-text {
    padding: 15px 10px 60px 10px;
  }
}
.clinic-philosophy ul {
  display: flex;
  padding: 0 20px;
  margin-bottom: 30px;
  gap: 20px;
}
@media screen and (max-width: 680px) {
  .clinic-philosophy ul {
    display: block;
    padding: 0 10px;
    gap: 0;
  }
}
@media screen and (max-width: 680px) {
  .clinic-philosophy ul li,
  .clinic-philosophy ul p {
    margin-bottom: 60px;
  }
}
.clinic-philosophy ul .cp-title {
  font-size: 2rem;
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 500;
  display: flex;
}
@media screen and (max-width: 680px) {
  .clinic-philosophy ul .cp-title {
    font-size: 1.8rem;
  }
}
.clinic-philosophy ul .cp-title .cp-title-center,
.clinic-philosophy ul .cp-title .cp-title-center2 {
  margin-top: 45px;
}
@media screen and (max-width: 680px) {
  .clinic-philosophy ul .cp-title .cp-title-center {
    margin-top: 30px;
    margin-left: 5px;
  }
}
@media screen and (max-width: 680px) {
  .clinic-philosophy ul .cp-title .cp-title-center2 {
    margin-top: 15px;
    margin-left: 10px;
    line-height: 1.3;
  }
}
.clinic-philosophy ul .cp-title span {
  font-size: 10rem;
  font-family: "Hiragino Sans", sans-serif;
  color: rgba(91, 209, 215, 0.3);
  font-weight: 800;
}
@media screen and (max-width: 680px) {
  .clinic-philosophy ul .cp-title span {
    font-size: 8rem;
  }
}
@media screen and (max-width: 680px) {
  .clinic-philosophy ul img {
    width: 100%;
  }
}
