@charset "UTF-8";
/* ＊ */
/* よくあるご質問トップ */
/* ＊ */
.question .question-top {
  display: flex;
  padding: 0 60px;
  margin-bottom: 100px;
}
@media screen and (max-width: 680px) {
  .question .question-top {
    display: block;
    padding: 0 20px;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 680px) {
  .question-top li {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 680px) {
  .question-top img {
    width: 100%;
  }
}
.question-top .question-top-text p {
  padding: 5px 0px 5px 15px;
  border-left: solid 10px #5bd1d7;
  margin-left: 90px;
  font-size: 1.6rem;
  line-height: 2;
}
@media screen and (max-width: 680px) {
  .question-top .question-top-text p {
    margin-left: 0;
  }
}
@media screen and (max-width: 680px) {
  .link {
    left: 0;
  }
}
/* ＊ */
/* 質問リスト */
/* ＊ */
.question-container {
  border: solid 3px #5bd1d7;
  border-radius: 10px;
  margin: 0 20px 60px 20px;
}
.question-container ul {
  padding: 60px 15px 0 15px;
}
@media screen and (max-width: 680px) {
  .question-container ul {
    padding: 60px 10px 0 10px;
  }
}
.question-container .q-top-title {
  font-size: 2rem;
  background: #5bd1d7;
  padding: 5px 0 5px 20px;
  text-align: left;
  color: #333;
  font-weight: bold;
  font-family: "Zen Maru Gothic", sans-serif;
}
@media screen and (max-width: 680px) {
  .question-container .q-top-title {
    padding: 5px 0 5px 10px;
  }
}
.question-container .q-top-title .q-scrap,
.question-container .q-top-title .q-injection,
.question-container .q-top-title .q-wallet,
.question-container .q-top-title .q-question {
  display: block;
  padding: 12px 35px;
}
.question-container .q-top-title .q-scrap {
  background: url(../images/question1.png) no-repeat 0px center;
}
.question-container .q-top-title .q-injection {
  background: url(../images/question2.png) no-repeat 0px center;
}
.question-container .q-top-title .q-wallet {
  background: url(../images/question3.png) no-repeat 0px center;
}
.question-container .q-top-title .q-question {
  background: url(../images/question4.png) no-repeat 0px center;
}
.question-container ul li .q-title {
  font-size: 2rem;
  color: #04bcaa;
  margin-bottom: 10px;
}
@media screen and (max-width: 680px) {
  .question-container ul li .q-title {
    font-size: 1.7rem;
    line-height: 1.4;
    text-indent: -30px;
    padding-left: 30px;
  }
}
.question-container ul li .q-title span {
  font-size: 2.5rem;
}
@media screen and (max-width: 680px) {
  .question-container ul li .q-title span {
    font-size: 2rem;
  }
}
.question-container p {
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: -1.3px;
  margin-bottom: 60px;
  text-indent: -35px;
  padding-left: 35px;
}
@media screen and (max-width: 680px) {
  .question-container p {
    line-height: 1.8;
    text-indent: -30px;
    padding-left: 30px;
  }
}
.question-container p span {
  font-size: 2.5rem;
  color: #f7931e;
  margin-right: 10px;
}
@media screen and (max-width: 680px) {
  .question-container p span {
    font-size: 2rem;
  }
}
.q-explanation {
  padding: 0 20px;
  font-size: 1.6rem;
  margin-bottom: 100px;
  line-height: 1.8;
}
